.product-card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 7px;
  background-color: whitesmoke;
  transition: 0.3s;

  &_image {
    width: 100%;
    border-radius: 10px;
    height: 350px;
  }

  &_title {
    font-weight: 700;
    font-size: 25px;
  }

  .to-favourite {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    cursor: pointer;
  }

  .selected {
    fill: #282c34;
  }

  .button:hover {
    opacity: 0.8;
  }
}