.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;

  &_window {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $modal-main-color;
    margin: 10% auto;
    padding: 20px;
    width: 40%;
    border-radius: 10px;

    &_header {
      color: $modal-main-color;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      align-items: center;
      background-color: $gray;
      padding: 10px 15px;

      .times {
        font-size: 40px;
        cursor: pointer;
      }
    }

    &_main {
      p {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
      }
    }

    &_footer {
      display: flex;
      justify-content: center;
      gap: 15px;

      .button {
        width: 100px;
        height: 30px;
        color: $modal-main-color;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}