.header {
  background-color: rgba(#61dafb, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 80px;

  .logo {
    border-radius: 10px;
    height: 100%;
  }

  &_title {
    &:hover {
      color: white;
      cursor: pointer;
    }
  }

  .icon-container {
    display: flex;
    align-items: center;
    gap: 5px;

    .favourite-container {
      position: relative;
      cursor: pointer;

      &_counter {
        position: absolute;
        top: 15px;
        left: 23px;
      }

      &:hover path,
      &:hover .favourite-container_counter {
        color: white;
        fill: white;
      }
    }

    .cart-container {
      position: relative;
      cursor: pointer;

      &_counter {
        position: absolute;
        top: 18px;
        left: 30px;
      }

      &:hover path,
      &:hover .cart-container_counter {
        stroke: white;
        color: white;
      }
    }
  }
}