@import "variables.scss";
@import "Components/Modal/Modal.scss";
@import "Components/Button/Button.scss";
@import "Components/CardsContainer/CardsContainer.scss";
@import "Components/ProductCard/ProductCard.scss";
@import "Components/Header/Header.scss";

* {
  box-sizing: border-box;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: $modal-main-color;
}

